name: Publish to npm

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch: {}

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: "https://registry.npmjs.org"

      - name: Install
        run: npm ci
        working-directory: vapors-cli

      - name: Build
        run: npm run build
        working-directory: vapors-cli

      - name: Publish
        run: npm publish --access public
        working-directory: vapors-cli
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
